@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

html {
	font-size: 20px;
}

body {
    color: #191919;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	background: #FAF7F7
}

a {
    color: #191919;
}


/* HERO */

section#hero {
    background: #C1712E;
	background-image:url(images/texture.png);
	
    color: #fff;
}



.logo {width: 45em;
padding: 5em;}

h2 {font-size: 1em;
padding-bottom:3em;
font-style: italic;
font-weight:100;}



/* NAVIGATION */

.navbar-nav>li {
    display: inline-block;
    float: none;
} 

.navbar-nav {
    float: none;
    background: #CEAD49;
    text-align: center;
}

.nav>navbar-nav {color:pink;}

.navbar-nav>li>a {
    padding: 1.5em 2em;
    color: #fff;
    font-weight: lighter;
    font-size: 1em;
}

nav

.container-fluid.nopad {
    padding:0;
}



nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    background: #CEAD49;
	z-index:10;
}




/* SECTIONS */

.title {margin-bottom: .5em;
width: 20em;
margin-top: 1em;}


#about {margin-top: 2em;
	
}


.tag {width:15em;}

p.about {font-weight: bold;}

#info {;
margin-top: 1em;
margin-bottom: 1em;
padding: 2em;
font-weight:100;}

#info2 {margin-top: 1em;
margin-bottom: 1em;
padding: 2em;
font-weight:100;}

#footer {background: #428692;
color: #C4BEB3;
padding-top: 4em;
padding-bottom: 1em;
}

#copyright {font-size: .75em;
padding-bottom:1em;
color: #C4BEB3;
background: #428692;}

.list-inline {padding-top:3em;
	
}

.list-inline a{color:#FFFFFF;
}

.list-inline a:hover{color:#C4BEB3;
text-decoration:none;}

.fa {width: 2em;
color: #FFFFFF;}

.fa:hover {
color: #C4BEB3;}

.private {color:#C4BEB3;
}


.private:hover {
    color:#FFFFFF;
	text-decoration:none;
}


/* CONTACT AREA */

.fmi {
margin-bottom: .5em;
margin-top: 1em;}

.fmiimage {width:25em;
margin-bottom:.5em;}

.form-group {color:#C8522E;
padding-top:1em;}

.btn-lg {margin-left:5em;
}
